{% load static %}
<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <header>
        <h1>Contact</h1>
    </header>
    <body>
        {% include 'meniu.html' %}
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="error">
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit">Salvează date</button>
            {% if form.non_field_errors %}
                <div class="error">
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </body>
</html>